@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* full slider bar */
  --clr-soft-cyan: hsl(174, 77%, 80%);
  /* slider background */
  --clr-strong-cyan: hsl(174, 86%, 45%);
  /* discount bg */
  --clr-light-grey-red: hsl(14, 92%, 95%);
  /* discount text */
  --clr-light-red: hsl(15, 100%, 70%);
  /* CTA text */
  --clr-pale-blue: hsl(226, 100%, 87%);
  /* pricing background */
  --clr-white: hsl(0, 0%, 100%);
  /* main bg */
  --clr-very-pale-blue: hsl(230, 100%, 99%);
  /* empty slider */
  --clr-light-grey-blue-slider: hsl(224, 65%, 95%);
  /* toggle bg */
  --clr-light-grey-blue-toggle: hsl(223, 50%, 87%);
  /* text */
  --clr-grey-blue: hsl(225, 20%, 60%);
  /* text and CTA bg */
  --clr-dark-desat-blue: hsl(227, 35%, 25%);
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background: var(--clr-very-pale-blue);
  font-family: "Manrope", sans-serif;
  color: var(--clr-grey-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
div,
span,
a,
button {
  font-family: "Manrope", sans-serif;
}

body::before {
  content: "";
  background: url(./images/bg-pattern.svg) no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -10%;
  z-index: -2;
}

h1 {
  color: var(--clr-dark-desat-blue);
  font-weight: 800;
  font-size: 2rem;
  margin-top: 9rem;
  margin-bottom: 0.8rem;
  position: relative;
}

h1::before {
  content: "";
  width: 14.6rem;
  height: 14.5rem;
  position: absolute;
  top: 50%;
  margin-top: -16%;
  left: 50%;
  margin-left: -25.5%;
  background: url(./images/pattern-circles.svg) center no-repeat;
  z-index: -1;
}

h2 {
  text-align: center;
  color: var(--clr-grey-blue);
  font-weight: 600;
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: 3rem;
  line-height: 2.5rem;
}

.pricing-container {
  width: 32.5rem;
  height: 47.5rem;
  margin: 2.5rem;
  /* padding: 2.5rem; */
  border-radius: 0.6rem;
  background-color: var(--clr-white);
  box-shadow: 0 2rem 3rem rgba(125, 125, 125, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing-grid {
  padding: 3.5rem 2.5rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3);
}

.slider {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  position: relative;
}

.slider-line-full {
  width: 50%;
  height: 0.8rem;
  border-radius: 0.4rem;
  background-color: var(--clr-soft-cyan);
  z-index: 1;
  position: absolute;
}

.slider-line-empty {
  width: 100%;
  height: 0.8rem;
  border-radius: 0.4rem;
  background-color: var(--clr-light-grey-blue-slider);
  position: absolute;
}

.slider-button {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: var(--clr-strong-cyan);
  position: absolute;
  left: 50%;
  margin-left: -2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  box-shadow: 0 2rem 2rem var(--clr-soft-cyan);
  cursor: pointer;
}

.pageviews {
  font-size: 1.1rem;
  letter-spacing: 1px;
  margin-bottom: 2.5rem;
  font-weight: 800;
  text-align: center;
}

.price {
  font-size: 1.3rem;
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price-number {
  font-size: 2.8rem;
  font-weight: 800;
  margin-right: 0.7rem;
  color: var(--clr-dark-desat-blue);
}

.billing-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2rem;
  margin-left: 4.5rem;
  margin-right: 1rem;
}

.billing-toggle {
  width: 4.2rem;
  height: 2.2rem;
  background-color: var(--clr-light-grey-blue-toggle);
  border-radius: 1.1rem;
  margin: 0 1.1rem;
  cursor: pointer;
}

.billing-toggle-circle {
  width: 1.4rem;
  height: 1.4rem;
  background-color: var(--clr-white);
  border-radius: 50%;
  margin: 0.4rem;
}

.billing-discount {
  height: 1.9rem;
  border-radius: 0.9rem;
  background-color: var(--clr-light-grey-red);
  color: var(--clr-light-red);
  display: flex;
  align-items: center;
  padding: 0 0.8rem 0 0.7rem;
  font-size: 1rem;
  font-weight: 800;
  margin-left: 0.5rem;
}

.discount-hidden {
  display: none;
}

.features-container {
  height: 20rem;
  width: 100%;
  padding: 2rem;
  margin-top: 3.8rem;
  border-top: 1px solid var(--clr-light-grey-blue-slider);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.features {
  line-height: 2.7rem;
  font-size: 1.2rem;
}

.check {
  margin-right: 1.1rem;
}

.btn-start {
  font-size: 1.2rem;
  background-color: var(--clr-dark-desat-blue);
  color: var(--clr-pale-blue);
  font-weight: 800;
  border-radius: 3rem;
  outline: none;
  border: none;
  padding: 1.3rem 4.8rem;
  margin-top: auto;
  margin-bottom: 1.1rem;
  cursor: pointer;
}
.btn-start:hover {
  color: var(--clr-white);
}

footer {
  margin-top: 10rem;
}

/* 40 * 16px = 640px */
@media screen and (min-width: 40em) {
  .pricing-container {
    width: 54rem;
    height: 39.6rem;
  }
  .pricing-grid {
    padding: 4.2rem 4.5rem;
    width: 100%;
    display: grid;
    grid-template-areas: "views price" "slider slider";
  }
  .pageviews {
    grid-area: views;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    font-size: 1.4rem;
  }
  .price {
    grid-area: price;
    margin-top: 0;
    justify-content: flex-end;
    font-size: 1.5rem;
  }
  .price-number {
    font-size: 3.8rem;
  }
  .slider {
    grid-area: slider;
    margin: 2.3rem 0.3rem 0 0.3rem;
  }
  .billing-container {
    margin-left: auto;
    margin-right: 6.5rem;
  }
  .billing-toggle {
    margin: 0 1.4rem;
  }
  .discount-hidden {
    display: unset;
    margin-left: 0.2rem;
  }
  .features-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: unset;
    padding: 0 4.5rem;
  }
  .btn-start {
    margin: unset;
  }
}

/* background image fix for large screens */
@media screen and (min-width: 90em) {
  body::before {
    background: url(./images/bg-pattern-large.svg) no-repeat;
  }
}
